#btn {
	display: inline-block;
	padding: 2px;
	width: 100%;
	border: 2px solid black;
	border-radius: 2px;
	background: none;
	font-size: 16px;
	line-height: 54px;
	color: black;
	letter-spacing: .25em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	transition: background .4s, color .4s;
}

#btn:hover {
	color: whitesmoke;
	background: black;
	text-decoration: none;
}